<table cellspacing="0">
	<caption>Planets by Distance</caption>
	<thead>
		<th>Planet Radius</th>
		<th>Planet Name</th>
		<th>from Sun</th>
		<th>from Earth</th>
	</thead>
	<tbody>
		<tr *ngFor="let data of inputFromRoot.planets">
			<td [ngStyle]="{'background-color': '#03bb85'}">{{ data.planetRadiusKM }} KM</td>
			<td [ngStyle]="{'background-color': 'darkcyan'}">{{ data.planetName }}</td>
			<td [ngStyle]="{'background-color': '#03bb85'}">{{ data.distInMillionsKM.fromSun }} Mil. KM</td>
			<td [ngStyle]="{'background-color': 'darkcyan'}">{{ data.distInMillionsKM.fromEarth }} Mil. KM</td>
		</tr>
	</tbody>
</table>

