
<app-header [inputFromRoot] = "this.myDetails"></app-header>

<mat-tab-group mat-stretch-tabs  
               class="example-stretched-tabs mat-elevation-z4"
    [ngStyle]="{textAlign: 'center'}"
    mat-align-tabs="center">
    <mat-tab label="Planet Details">
      <app-planets-details [inputFromRoot] = "this.myPlanets"></app-planets-details>
    </mat-tab>
    <mat-tab label="Planet Distance">
      <app-planets-distance [inputFromRoot] = "this.myPlanets"></app-planets-distance>
    </mat-tab>

</mat-tab-group>

<app-footer [inputFromRoot] = "this.myDetails"></app-footer>