@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html{
	margin: 0;
	padding: 0;
	background-color: lightcyan;
	font-family:  Arial, sans-serif;
}

app-footer, app-header{
	color: black;
	font-style: italic;
	text-align: center;
}

::ng-deep mat-tab-header {
	align-self:  center;
}


